.about_text {
    margin-left: 3%;
    margin-right: 20%;
}

#contact {
    margin-left: 5%;
    margin-right: 45%;
}

#map {
    width: 100%;
    display: block;
    border: 0;
    margin-left: auto;
    margin-right: auto;
}