* {
    font-family: Candara;
}

#google_btn {
    position: relative;
    margin-left: 37%;
}

#account_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

h1 { 
    font-size: 49px; 
    font-weight: 700; 
    line-height: 49.5px; 
}

.about_text {
    font-size: 17px;
    font-weight: 400; 
    line-height: 20px;
}

.ads {
    width: 500px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ads2 {
    width: 10%;
    float: right;
    position: relative;
    display: block;
    top: 40px;
    margin-right: 6%;
}

footer {
    bottom: 0;
    padding-top: 5px;
}

#feedback_btn {
    float: right;
    margin-right: 2%;
}