.places_text {
    margin-left: 4%;
    margin-right: 20%;
}

#filter {
    margin-left: 2%;
    margin-right: 40%;
    margin-bottom: 1%;
}

#list {
    display: block;
    margin-left: 2%;
    margin-right: 18%;
}

.checked {
    color: orange;
}