* {
    font-family: Candara;
}

#list {
    display: block;
    margin-left: 2%;
    margin-right: 17%;
}

.ads {
    width: 500px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ads2 {
    width: 10%;
    float: right;
    position: relative;
    display: block;
    top: 145px;
    margin-right: 6%;
}

footer {
    background-color: #28a745;
    color: white;
    padding-top: 5px;
    bottom: 0;
    width: 100%;
}

#feedback_btn {
    float: right;
    margin-right: 2%;
}